# validation testing - uncomment to test empty value
# GITHUB_REPO=
# GITHUB_TOKEN=
# SLACK_WEBHOOK_URL=
# WATCH_LABELS=
# MAX_PER_LABEL=
# LOG_FILE=

# live variables
GITHUB_REPO=netdata/netdata
GITHUB_TOKEN=
SLACK_WEBHOOK_URL=
WATCH_LABELS=bugs
MAX_PER_LABEL=5
LOG_FILE=/path/to/repo/directory/for/testing/github-issues-to-slack-full-log.log