# use with 1Password secrets only, otherwise use .env for locally saved secrets
GITHUB_REPO=netdata/netdata
GITHUB_TOKEN=op://<vault>/<item>/GITHUB_TOKEN
SLACK_WEBHOOK_URL=op://<vault>/<item>/SLACK_WEBHOOK_URL
MAX_PER_LABEL=5
WATCH_LABELS=bug,feature request
LOG_FILE=/path/to/local/directory/github-issues-to-slack-full-log.log